/* Form elements styling */
.login-form {
	display: flex;
	justify-content: space-between; /* Ensures space between elements */
	align-items: center;
	width: 100%;
	margin-bottom: 40px; /* Add margin at the bottom of the form */
  }
  
  .login-form label {
	margin-right: 10px; /* Ensures space between label and input */
  }
  
  .login-form input {
	flex-grow: 1;
	margin-right: 10px; /* Space between input and button */
  }
  
  .login-form button {
	padding: 8px 20px;
	background-color: #0000ff;
	color: white;
	border: none;
	cursor: pointer;
  }
  
  .login-form button:hover {
	background-color: #0000cc;
  }