/* CourseList.css */
#CourseList {
	width: 100%;
	border-collapse: collapse;
	font-size: 1.2rem;
  }
  
  #CourseList th,
  #CourseList td {
	border: 1px solid #ccc;
	padding: 0.5rem;
	text-align: left;
  }
  
  #CourseList th {
	background-color: #f2f2f2;
	font-weight: bold;
  }